<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="base :: Layout(~{::section})">

<title>Verify OTP</title>
<body>
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card p-3">
                    <h3 class="text-center">Change Password</h3>
                    <form th:action="@{/change-password}" method="post">
                        <div class="form-group mt-2">
                            <input type="password" name="newPassword" class="form-control" placeholder="Enter New Password" required />
                        </div>
                        <div class="form-group mt-2">
                            <input type="password" name="confirmPassword" class="form-control" placeholder="Confirm New Password" required />
                        </div>
                        <div class="text-center mt-3">
                            <button type="submit" class="btn btn-success">Change Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>
