<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="normal/base :: Layout(~{::section})">

<body>
<section class="container">

    <h2 class="text-center mt-3">Your Contacts</h2>
    
    <div class="search-container ">
    <input onkeyup="search()" id="search-input" type="text" class="'form-control" placeholder="search your contacts"/>
    <div class="search-result">
    <h2>this is search result</h2>
    </div>
    </div>

    <table  style="background:white" class="table table-striped mt-4">
    <thead class="thead-light">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Second Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Work</th>
        <th>Action</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="c : ${contacts.content}">
        <td th:text="${c.cId}"></td>
        
        <td> 
<img class="my_pic"
     th:src="@{/image/{img}(img=${c.image})}"
     alt="profile photo"
     onerror="this.src='/image/contact.png'"/>
        <span th:text="${c.name}"></span></td>
        <td th:text="${c.secondName}"></td>
        <td th:text="${c.phone}"></td>
        
        <td>
        <a href="" th:href="@{'/user/'+${c.cId}}+'/contact'">
        <span th:text="${c.email}"></span>
        </a>
        
        </td>
        
        <td th:text="${c.work}"></td>

        <td>
        <br>
            <form th:action="@{'/user/update-contact/'+${c.cId}}" method="post" class="mt-2">
                <button type="submit" class="btn btn-primary btn-sm">Update</button>
                </form>
            </br>

            <a th:href="@{'/user/delete-contact/' + ${c.cId}}"
               class="btn btn-danger btn-sm"
               onclick="return confirm('Are you sure you want to delete this contact?')">
                Delete
            </a>
        </td>
    </tr>
    </tbody>
</table>
           <nav aria-label="Page navigation example">
  <ul class="pagination">
  
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
<li th:each="i : ${#numbers.sequence(1,totalPage)}"
    th:classappend="${currentPage == i-1} ? 'active' : ''"
    class="page-item">

    <a class="page-link"
       th:href="@{'/user/show-contacts/' + ${i-1}}">
        <span th:text="${i}"></span>
    </a>

</li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav>
    

</section>
</body>
</html>
